nav a:hover {
    background-color: lightyellow;
    color: blueviolet; 
	}
	
	nav a:active {
    color:blueviolet
    font-weight: lighter;
	}
	
	nav a:visited {
    color: blueviolet; 
	}

    nav a:link {
    color: forestgreen;
    
    text-decoration: none;
    }
