/*
creator: William Kelly
Date Created: 5/6/2019
Last Modified: 5/6/2019
*/

	body {
		background-color: #fef9ff; 
		font-family: arial, helvetica, sans-serif;
		color: #od1f2d;
		max-width: 1100px;
		margin: 0 auto;
	}
	
	header {
		background-color: white;
		color: #fef9ff;
		height: 100px; 
		text-align: center;
		padding: 30px 10px 20px 10px;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	nav {
		/* border-top: 3px dashed white;
		border-bottom: 3px dashed white; */
		margin-top: 3px; 
	}
	
	header, footer {
		background-color: thistle;
		color: #fef9ff;
		height: 100px; 
		text-align: center;
		padding: 30px 10px 20px 10px;
	}

	nav a {
		
		color: blueviolet;
		padding: 6px;
		font-size: 1.5em;
		size: 1.5em;
		text-decoration: none;
		text-align: center;
		display: block;
		margin: 15px;
		width: 300px;
		float: center;
	}
	
	.clear-float {
            clear:both;
    }
	
	nav a:hover {
    color: #5b7d87;
	}
	
	nav a:active {
    font-weight: bold;
	}

	caption {
		font-weight: bold;
		font-size: 1.2em;
		margin-bottom: 8px;
	}

	table, th, td {
		border: 1px solid #0d1f2d;
		border-collapse: collapse;
		padding: 5px 10px;
	}

	table {
		width: 70%;
		margin: auto;
	}

	tr {
		height: 30px;
	}

	th {
		background-color: blueviolet; 
		color: #f2eded;
	}

	tbody tr:nth-child(odd) {
		background-color: #e4c3ad; 
	}

	article img {
		float:center;
	}

	.right-content {
		float:center;
	}

	article {
		margin-bottom: 16px;
	}