/*
creator: William Kelly
Date Created: 5/6/2019
Last Modified: 5/6/2019
*/

	body {
		background-color: #fef9ff; 
		font-family: arial, helvetica, sans-serif;
		color: #od1f2d;
		max-width: 1100px;
		margin: 0 auto;
	}
	
	header {
		background-color: #5b7d87;
		color: #fef9ff;
		height: 100px; 
		text-align: center;
		padding: 30px 10px 20px 10px;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	nav {
		border-top: 3px dashed #546a7b;
		border-bottom: 3px dashed #546a7b;
		margin-top: 4px; 
	}
	
	header, footer {
		background-color: #546a7b;
		color: #fef9ff;
		height: 100px; 
		text-align: center;
		padding: 30px 10px 20px 10px;
	}

	nav a {
		background-color: #5b7d87;
		color:  #fef9ff;
		padding: 8px;
		border: thin solid #0d1f2d;
		text-decoration: none;
		text-align: center;
		display: block;
		margin: 20px;
		width: 100px;
		float: left;
	}
	
	.clear-float {
            clear:both;
    }
	
	nav a:hover {
    background-color: #fef9ff;
    color: #5b7d87; 
	}
	
	nav a:active {
    font-weight: bold;
	}
	
	nav a:visited {
    color: #e4c3ad; 
	}
	
	
